{% extends "template/main.twig" %}

{% block main %}

  <div class="boost-price">

    <form class="" action="index.html" method="post">

      <h1>Good Deals</h1>
      <p class="step">Step 1</p>

      <label>Good Deals</label>

    </form>


{% endblock %}
