{% extends "template/main.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
  <div class="welcome">
    <h1>Welcome to <span>ELO</span>RISING</h1>
    <h2>Start Your Order Now!</h2>
    <a href="{{ base_url() }}/solo">Start order</a>
  </div>
{% endblock %}
