<!--<form class="" action="index.html" method="post">
  <h2>Login Form</h2>
  <label>Username</label>
  <input type="text" name="username">
  <label>Password</label>
  <input type="password" name="password">
</form>

<form class="" action="index.html" method="post">
  <h2>Register Form</h2>
  <label>Username</label>
  <input type="text" name="username">
  <label>Email</label>
  <input type="mail" name="email">
  <label>Password</label>
  <input type="password" name="password">
  <label>Password Confirm</label>
  <input type="password" name="password-confirm">
  <label>Discord Name</label>
  <input type="text" name="discord">
</form>-->
